<% title "Wszystkie pojazdy" %>

<table border="2">
  <tr>
    <td>Marka</td>
    <td>Numer rejestracyjny</td>
    <td>Lokalizacja</td>
  </tr>

<% @pojazdies.each do |pojazdy| %>
  <tr>
    <td>  <%= pojazdy.marka %></td>
    <td>  <%= pojazdy.nr_rejestracyjnyn %></td>
    <td>  <%= pojazdy.lokalizacja %></td>

   
    <td> <%= link_to 'Pokaż', pojazdy %> </td>
    <% if can? :edit, pojazdy %>
    <td> <%= link_to 'Edytuj', edit_pojazdy_path(pojazdy) %> </td>
    <% end %>
    <% if can? :delete, pojazdy %>
    <td> <%= link_to 'Usuń', pojazdy, confirm: 'Jesteś pewien?', method: :delete %> </td>
    <% end %>
  </tr>
<% end %>
  
</table>
<br />